.btn-pink {
  background-color: #F45B69;
  text-decoration: none;
  padding-top: 30px;
  font-size: 30px;
  border-radius: 100px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  color: white;
}
